<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Angular App</title>
</head>
<body>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <div ng-controller="MyCtrl">

        <div>
            Title: {{title}} <br>
            Age: {{age}} <br>
            <!--<a ng-click="sayHello()">click here</a>-->
            <button ng-click="sayHello()">Click Me</button><br>
            Title: <input type="text" ng-model="title" />            
        </div><br><br>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Department</th>
                        <th>DOB</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="st in students">
                        <td>{{st.name}}</td>
                        <td>{{st.department}}</td>
                        <td>{{st.dob}}</td>
                        <td><button ng-click="onStudentSelect(st)">View</button></td>
                    </tr>
                </tbody>
            </table>
        </div><br><br>
        <div id="student-details" ng-if="selectedStudent">
            <br>Selected student is: <br>
            Name: {{selectedStudent.name}}<br>
            Department: {{selectedStudent.department}}<br>
            D.O.B: {{selectedStudent.dob}}<br>
        </div>
        <br><br>
        <div>
            <br>
            <button ng-click="decreaseIndex()"><</button>
            <img height="300" width="350" ng-src="{{imagesURLs[index]}}" alt="">
            <button ng-click="increaseIndex()">></button>
        </div>

        <br><br>
        Calculator Functions:
        <div>
            First Input <input type="number" ng-model="first" ng-change="onInputChange()"/> <br>
            Second Input <input type="number" ng-model="second" ng-change="onInputChange()"/> <br>
            <div ng-if="result" ng-class="{'calculation-result': isCalculated}">
            Result is: {{result}}<br>
            </div>
            <button ng-click="calculate('add')">+</button>
            <button ng-click="calculate('sub')">-</button>
            <button ng-click="calculate('mul')">*</button>
            <button ng-click="calculate('div')">/</button>
        </div>
    </div>

    <div>
        <h2>writing custom component</h2>
        <my-custom-calculator result-text="First calculator result"></my-custom-calculator>
    </div>

    <div>
        <h2>Displaying same custom component</h2>
        <my-custom-calculator result-text="Second calculator result"></my-custom-calculator>
    </div>
</body>
</html>