<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular App</title>
</head>
<body>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <div ng-controller="MyCtrl">
        Title: {{title}} <br>
        Age: {{age}} <br>
        <!--<a ng-click="sayHello()">click here</a>-->
        <button ng-click="sayHello()">Click Me</button>
    </div>

</body>
</html>